{% extends 'layout_admin.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
<h1 class="h2">Discount History</h1>
<h3> View the history of all discounts, active and inactive <h3/>
  <table>
    <thead>
      <tr>
        <th>Product </th>
        <th>Discount Name</th>
        <th>Discount</th>
        <th>Start</th>
        <th>End</th>
        <th>Discounted Price</th>
      </tr>
    </thead>    
    <tbody>
  {% for row in data %}    
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  {% endblock %}