{% extends 'layout_admin.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
<h1 class="h2">Add product</h1>


<h3>Fill out the form<h3/>
        <form method="post" id="form-data">
            <p>Select supplier  </p>       
                <select id="supplier_id" name="supplier_id">
                    {% for j in supplier_list %}
                        <option value="{{j[1]}}" selected='selected'>{{j[0]}}</option>
                    {% endfor %}
                </select>
            <p>Select product  </p>
                <select id="product_name" name="product_name">
                    {% for d in data_product %}
                        <option value="{{d[0]}}" selected='selected'>{{d[0]}}</option>
                    {% endfor %}
                </select>
                      
          <div class="form-group">
            <label for="quantity" class="cols-sm-2 control-label"></label>
            <div class="cols-sm-10">
              <div class="input-group">
                <p>Amount </p>
                <input type="number" class="form-control" name="quantity" id="quantity" value="1">
              </div>
            </div>
          </div>
          <p>Option </p>
          <select name="choice">
            <option value="Select">SELECT</option>
            <option value="Add">ADD</option>
            <option value="Delete">DELETE</option>
          </select>

          <div class="form-group ">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <button type="submit" placeholder="Submit" style="background-color: green; border-color: #a4bfd9;">Submit</button>
          </div>
        </form>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   
<table>
  <thead>
    <tr>
      <th>Product  </th>
      <th>Price  </th>
      <th>Supplier  </th>
      <th>Amount  </th>
    </tr>
  </thead>    
  <tbody>
{% for row in info %}    
    <tr>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}