{% extends 'layout_admin.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
<h1 class="h2">Dashboard</h1>
<p>Welcome  {{ email }}!</p>
<p>Admin account: {{ is_admin }}!</p>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Pricing</th>
            <th>Supplier</th>
            <th>Amount</th>
            <th>Discount<th>
        </tr>
    </thead>    
    <tbody>
    {% for row in data %}  
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}